:root {
    --primary-color: #8E8279;
    --secondary-color: #6F625D;
    --link-color: #4a76ee;
    --text-color: #1a1c20;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Arvo', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color);
}

nav .right a {
    margin: 0 10px;
    color: var(--text-color);
}

nav .right a span{
    margin: 5px;
}

/* Section 1 */
.home{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: center;
    gap: 40px  ;
    margin-bottom: 100px;
}

.home .text {
    flex: 5;
}

.home .text h2 {
    font-size: 45px;
}

.home .links {
    margin-top: 25px;
}

.home .links a {
    display: inline-block;
    border: 2px solid var(--link-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 1s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}


.home .profile-pic {
    flex: 2;
    display: flex;
    justify-content: right;
}

.home .profile-pic img {
    width: 360px;
    border-radius: 50%;
}


.skills-section{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: left;
    gap: 40px  ;
    margin-bottom: 100px;
}

.projects-section{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 50px 0;
    align-items: left;
    gap: 40px  ;
    margin-bottom: 100px;
}

.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;

}

.contact-section h2{
    font-size: 25px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
 .contact-section .group form textarea{
    font-family: 'Arvo', serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button{
    padding: 10px;
    border: none;
    background-color: var(--link-color);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Arvo', serif;
    font-size: 16px;
    height: 50px;
    
}

@media (max-width: 740px) {
    /* Stack navigation items vertically on small screens */
    .home {
        padding: 0 20px;
        flex-direction: column-reverse;
        gap: 20px;
    }

  

    nav .right a {
        font-size: 22px;
    }

    nav .right a span {
        display: none;
    }
}


